.linkDirectory {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 960px;
}

html[data-theme='light'] .categoryTitle {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(131, 131, 131);
}

html[data-theme='dark'] .categoryTitle {
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

html[data-theme='light'] .categorySubItem a {
  text-decoration: none;
  color: black;
}

html[data-theme='light'] .categorySubItem a:hover {
  text-decoration: underline;
  color: rgb(34, 193, 195);
}

html[data-theme='light'] .categorySubItem a:visited {
  text-decoration: underline;
  color: rgb(34, 193, 195);
}

html[data-theme='dark'] .categorySubItem a {
  text-decoration: none;
  color: white;
}

html[data-theme='dark'] .categorySubItem a:hover {
  text-decoration: underline;
}

html[data-theme='light'] ::marker {
  color: rgb(34, 193, 195);
}

html[data-theme='dark'] ::marker {
  color: rgb(255, 196, 0);
}

.sectionTitle {
  padding-top: 2rem;
}

.categoryTitle {
  padding-top: 1.5rem;
}

.categoryItems {
  columns: 3;
  column-gap: 15px;
}

.categorySubItem {
  padding-bottom: 0.5rem;
}

@media (max-width: 840px) {
  .categoryItems {
    -webkit-columns: 2;
    columns: 2;
  }
}

@media (max-width: 568px) {
  .categoryItems {
    -webkit-columns: 1;
    columns: 1;
  }
}
