html[data-theme='light'] .custom__hero {
  width: 100%;
  height: 100%;
  max-height: 678px;
  height: calc(100vh - 50px);
  background: rgb(34, 193, 195);
  background: linear-gradient(
    324deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

html[data-theme='dark'] .custom__hero {
  width: 100%;
  max-height: 678px;
  height: calc(100vh - 50px);
  background: rgb(34, 193, 195);
  background: linear-gradient(
    135deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

.hero__container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 1320px;
  position: relative;
  height: 100%;
}

.support_button {
  width: 206px;
  height: 47.41px;
  margin-top: 2.5rem;
  margin-bottom: 2.75rem;
  border: 2px solid rgb(27, 27, 27);
  border-radius: 23.7029px;
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(27, 27, 27);
  background-color: transparent;
}

.support_button:hover {
  width: 206px;
  height: 47.41px;
  margin-top: 2.5rem;
  margin-bottom: 2.75rem;
  border: 2px solid rgb(27, 27, 27);
  border-radius: 23.7029px;
  font-size: 1.25rem;
  font-weight: bold;
  color: rgb(27, 27, 27);
  background-color: rgb(253, 187, 45);
}
.support_button a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}

.support_button a:hover {
  text-decoration: none;
  color: rgb(27, 27, 27);
}

.hero__text__container {
  color: rgb(27, 27, 27);
}

.img_container {
}
.hero__image {
  text-align: center;
  position: absolute;
  top: 10;
  bottom: 0px;
  left: 7.5%;
  width: 85%;
}
