.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.categoryTitle {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.categoryItems {
  padding-bottom: 0.5rem;
  columns: 4;
  column-gap: 10px;
}

.categorySubItem {
  padding-bottom: 0.5rem;
}
