html[data-theme='light'] .hero__bar {
  text-align: center;
  color: white;
  height: 50px;
  line-height: 50px;
  font-weight: 500;
  background-color: rgb(27, 27, 27);
}

html[data-theme='dark'] .hero__bar {
  text-align: center;
  color: rgb(27, 27, 27);
  height: 50px;
  line-height: 50px;
  font-weight: 500;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    260deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}
